{% extends 'base.html.twig' %}

{% block title %}Edit Quote{% endblock %}

{% block body %}
    <h1>Edit Quote</h1>

    {{ include('Back/admin/user/quote/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_admin_user_quote_index') }}">back to list</a>

    {{ include('Back/admin/user/quote/_delete_form.html.twig') }}
{% endblock %}
