{% extends 'base.html.twig' %}

{% block title %}add user{% endblock %}

{% block body %}
  
   
<h1> welcome home admin </h1>
    <a href="{{path('app_admin_user_index')}}" > all users</a> <br>
    <a href="{{path('app_admin_user_new')}}" > add user </a> <br>
  
{% endblock %}
