{% extends 'base.html.twig' %}

{% block title %}accueil suite à une connexion{% endblock %}

{% block body %}
        <h1>  Bienvenue dans l'accueil </h1>
        <a href={{path('app_logout')}}> log out </a>
       
    
{% endblock %}
