<div class="w-card h-card bg-white border border-primary-500Light rounded-3xl flex flex-col justify-between p-8">
	<div class="flex justify-between items-center">
		<div>
			<p class="text-gray-500 text-sm"> {% block title %}{% endblock %}
				</p>
				<p class="text-3xl text-secondary-500 font-bold">€
					{% block total %}{% endblock %}
				</p>
			</div>
			{% block icon %}{% endblock %}
		</div>

	

	</div>
