<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Onboarding
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('onboarding') }}
		{% endblock %}
		{%block header %}
		{% endblock%}
	</head>

	<body>
		<main class="min-h-screen w-full relative bg-background flex-col justify-start px-10 max-md:px-4">
			<nav class="w-full flex justify-between items-center py-4 mb-4">
				<div class="flex items-center justify-center">
					<img class="object-contain w-36 relative" src="/Logo.png"/>
				</div>

				<a href={{path("app_logout")}} class=" w-fit flex items-center justify-center relative gap-4 cursor-pointer hover:opacity-70">
					<div class="flex items-center gap-3 w-fit">

						<p class="text-secondary-600 opacity-80">Se déconnecter</p>
					</div>
				</a>
			</nav>
			<div class="mx-auto max-w-3xl">


				<div class="flex w-full gap-2 mb-6">
					<div class="w-full flex-1 bg-gray-200 rounded-full h-1">
						<div class="bg-blue-600 h-1 rounded-full" style="width: 100%"></div>
					</div>
					<div class="w-full flex-1 bg-gray-200 rounded-full h-1">
						<div class="bg-blue-600 h-1 rounded-full" style="width: 0%"></div>
					</div>
				</div>


				<h1 class="text-2xl text-primary-500">Informations de l'entreprise</h1>
				<p class="text-md text-primary-800 opacity-80 mt-3">Maintenant veuillez renseigner les informations de votre entreprise si vous en avez une. Dans le cas contraire, vous pouvez commencer à utiliser notre application en cliquant sur Poursuivre.</p>

			</div>
		</main>
	</body>

</html>
