{% extends 'base.html.twig' %}

{% block title %}New QuoteLine{% endblock %}

{% block body %}
    <h1>Create new QuoteLine</h1>

    {{ include('Front/user/quote_line/_form.html.twig') }}

    <a href="{{ path('user_quote_line_index') }}">back to list</a>
{% endblock %}
