<form method="post" action="{{ path('front_user_quote_delete', {'id': quote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quote.id) }}">
    <button class="px-4 py-2 rounded-e-lg text-sm font-medium text-white bg-delete-500 border-t border-b border-gray-200 hover:bg-delete-400 focus:z-10 focus:ring-2">Supprimer</button>
</form>
