<div class="h-card shadow-md bg-white border border-primaryLight rounded-3xl flex flex-col justify-between p-4">
	<div class="flex justify-between flex-col h-full"> 
		{% block icon %}{% endblock %}
		<div>
			<p class="text-gray-500 text-sm"> {% block title %}{% endblock %}</p>
			<p class="text-3xl text-secondary-500 font-bold"> {% block total %}{% endblock %}</p>
		</div>
	</div>
</div>
