{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<body>
    <br>
    <h1> WELCOME To the homePage  </h1>
    <a href={{path('app_register')}}> sign up </a>
    <br>
    <a href={{path('app_login')}}> sign in </a>

{% endblock %}
