{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    <div class="flex gap-8 flex-col">
        <div>
            <h1 class="text-4xl font-extrabold text-secondary">Dashboard</h1>
            <p class="text-xs text-gray">Vous êtes de retour, Arthur</p>
        </div>

        <div class="flex gap-4">
            <div class="w-card h-card border border-lightBlue rounded-3xl bg-white">
            </div>
        </div>
    </div>
{% endblock %}
